node_modules
coverage
.idea/
*.iml
*.log
dist/
package-lock.json
compilation-stats.json
.DS_Store

web/cypress/videos/
web/cypress/screenshots/
web/src/**/*.less.d.ts
web/public/
web/static/*-parsed.json

.firebaserc
.firebase/

*.env
